  <div class="container">  
    <h3>シチュエーションを選んでください</h3>
            <table>
                <tr>
                    <th>
                        通常
                    </th>
                    <th>
                        男女別
                    </th>
                </tr>
                
                <tr>
                    <td class="situation">
                        <label for="omotenashi01" class="situation">
                        <%= link_to 'おもてなし', 'warikan/settai1' %>
                        </label>
                    </td>
                    
                    <td class="situation">
                    <p>
                        <label for="omotenashi02" class="situation">
                        <%= link_to 'おもてなし(男女)', 'warikan/settai2' %>
                        </label>
                    </p>
                    </td>
                </tr>
                
                <tr>
                    <td class="situation">
                    <p>
                        <label for="onthejob01" class="situation">
                        <%= link_to '部署飲み', 'warikan/onthejob1' %>
                        </label>
                    </p>
                    </td>
                    
                    <td class="situation">
                    <p>
                        <label for="onthejob02" class="situation">
                        <%= link_to '部署飲み(男女)', 'warikan/onthejob2' %>
                        </label>
                    </p>
                    </td>
                </tr>
                
                <tr>
                    <td class="situation">
                    <p>
                        <label for="friends01" class="situation">
                        <%= link_to '友人同士', 'warikan/friends1' %>
                        </label>
                    </p>
                    </td>
                    
                    <td class="situation">
                    <p>
                        <label for="friends02" class="situation">
                        <%= link_to '友人同士(男女)', 'warikan/friends2' %>
                        </label>
                    </p>
                    </td>
                </tr>
            </table>
            </form>
    
        <!--<h2>オプション</h2>-->
        <!--    <form name="danjocheck" action="#" method="post" id="CheckboxSelect">-->
        <!--        <p>-->
        <!--            <input type="checkbox" name="danjocheck" value="男女" id="checkbox01">-->
        <!--            <label for="checkbox01" class="checkbox">男女別で計算する</label>-->
        <!--        </p>-->
        <!--    </form>-->
         
                
                <!--<%= link_to 'おもてなし', 'warikan/settai1' %>-->
                <!--<%= link_to 'おもてなし(男女)', 'warikan/settai2' %>-->
                <!--<%= link_to '部署飲み', 'warikan/onthejob1' %>-->
                <!--<%= link_to '部署飲み(男女)', 'warikan/onthejob2' %>-->
                <!--<%= link_to '友人同士', 'warikan/friends1' %>-->
                <!--<%= link_to '友人同士(男女)', 'warikan/friends2' %>-->
    </div>