    <div class="container">
    <h2>部署飲み</h2>
        <table class="resultTable">

          <tr>
            <th>お会計</th>
            <td>
              <%= @totalAmount.to_s(:delimited) %>円
            </td>
          </tr>

          <tr>
            <th>上司</th>
            <td>
              <%= @price1.to_s(:delimited) %>円
            </td>
          </tr>

          <tr>
            <th>中堅</th>
            <td>
              <%= @price2.to_s(:delimited) %>円
            </td>
          </tr>

          <tr>
            <th>若手</th>
            <td>
              <%= @price3.to_s(:delimited) %>円
            </td>
          </tr>

            <th>端数</th>
            <td>
              <%= @amariAmount.to_s(:delimited) %>円
            </td>
          </tr>

        </table>
        
          <div class="toIndex">
              <label for="toIndex">
                <%= link_to("戻る", "/") %>
              </label>
          </div>
          
    </div>
          
