    <div class="container">
    <h2>おもてなし(男女別)</h2>

      <table class="resultTable">

        <tr>
          <th>お会計</th>
          <td>
            <%= @totalAmount.to_s(:delimited) %>円
          </td>
        </tr>

        <tr>
          <th>会計</th> <th class="male">男性</th> <th class="female">女性</th>
        </tr>

        <tr>
          <th>主賓</th>
          <td>
            <%= @malePrice2.to_s(:delimited) %>円
          </td>
          <td>
            <%= @femalePrice2.to_s(:delimited) %>円
          </td>
        </tr>

        <tr>
          <th>一般</th>
          <td>
            <%= @malePrice3.to_s(:delimited) %>円
          </td>
          <td>
            <%= @femalePrice3.to_s(:delimited) %>円
          </td>
        </tr>

        <tr>
          <th>端数</th>
          <td>
            <%= @amariAmount.to_s(:delimited) %>円
          </td>
        </tr>
          
      </table>
         <div class="toIndex">
              <label for="toIndex">
                <%= link_to("戻る", "/") %>
              </label>
          </div>
    </div>
        
          
      